{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CronTask list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Commands</th>
                <th>Time_period</th>
                <th>Lastrun</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cron_task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.commands }}</td>
                <td>{{ entity.timeperiod }}</td>
                <td>{% if entity.lastrun %}{{ entity.lastrun|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cron_task_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cron_task_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cron_task_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
