{% extends 'MipaUserBundle::layout.html.twig' %}


{% block content %}
    <h1>User list</h1>

	<div class="count">
		{{ pagination.getTotalItemCount }}
	</div>
	
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Gender', 'a.gender') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Address', 'a.address') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for users in pagination %}
            <tr>
                <td><a href="{{ path('mipa_user_show', { 'id': users.id }) }}">{{ users.id }}</a></td>
                <td>{{ users.name }}</td>
                <td>{{ users.gender }}</td>
                <td>{{ users.address }}</td>
                <td>{{ users.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mipa_user_show', { 'id': users.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mipa_user_edit', { 'id': users.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>

    {% endblock %}
