{% extends 'MipaUserBundle::layout.html.twig' %}


{% block content %}
  <h1>Job creation</h1>
  <form action="{{ path('ens_job_create') }}" method="post" {{ form_enctype(form) }}>
    <table id="job_form">
      <tfoot>
        <tr>
          <td colspan="2">
            <input type="submit" value="Create" />
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th>{{ form_label(form.name) }}</th>
          <td>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
          </td>
        </tr>
        <tr>
          <th>{{ form_label(form.gender) }}</th>
          <td>
            {{ form_errors(form.gender) }}
            {{ form_widget(form.gender) }}
          </td>
        </tr>
        <tr>
          <th>{{ form_label(form.address) }}</th>
          <td>
            {{ form_errors(form.address) }}
            {{ form_widget(form.address) }}
          </td>
        </tr>
        <tr>
          <th>{{ form_label(form.email) }}</th>
          <td>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
          </td>
        </tr>
        <tr>
          <th>{{ form_label(form.subscription) }}</th>
          <td>
            {{ form_errors(form.subscription) }}
            {{ form_widget(form.subscription) }}
          </td>
        </tr>
        
      </tbody>
    </table>
 
    {{ form_rest(form) }}
  </form>
{% endblock %}
